<script src="//cdn.cleverbot.io/build/1.0/cleverbot.io.min.js"></script>

<div class="row">

    <div class="small-4 columns">
        <center>
            <h4>Stats</h4>
        </center>


    </div>

    <div class="small-8 columns">
        <center>
            <h4>Conversation</h4>
        </center>
    </div>

    <div class="small-4 columns stats">
        Messages Sent: <b class="mSent">0</b><br>
        Messages Received: <b class="mRec">0</b><br>
        Avg. Response Time: <b class="mTime">0</b> <b>ms</b><br>
    </div>
    
    <div class="small-8 columns">
        <center>
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" id="message" placeholder="say something...">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix" onClick='submitMessage()'>Send</a>
                </div>
            </div>

            <div class="messages">

            </div>

        </center>
    </div>

</div>

<script>
    // set up variables
    var input      = new Array();
    var output     = new Array();
    var timestamps = new Array();
    var totalTime  = 0;
    var avgTime    = 0;
    
    // create a new instance of cleverbot via cleverbot.io API
    var bot = new cleverbot("5bZbf6n66fs2NcDg", "UJs7uRncKarcSfHdue2GEtLZxdYPbYLX");
    bot.create(function(err, session) {
        // bot initalized, begin communication
        // grab input from form, and store it in user-input array
        function askBot(input) {
            bot.ask(input, function(err, response) {
                alert(response); // Will likely be: "Living in a lonely world"
            });
        }
    });
    
    // to prevent API call abuse
    function sleep(milliseconds) {
      var start = new Date().getTime();
      for (var i = 0; i < 1e7; i++) {
        if ((new Date().getTime() - start) > milliseconds){
          break;
        }
      }
    }
    
    function submitMessage() {
       var start = new Date().getTime();
       var x = $("#message").val(); // get user's message
       input.push(x); // push to array of inputs
       // append to HTML
       var x2 = '<div class="panel"><h5>Username @ date/time</h5><p>' + x + '</p></div>';
       console.log("input: " + x);
       $(".messages").append(x2); // add new response
       $(".mSent").html(input.length);
       
       bot.ask(x, function (err, response) { // collect ouput
             // CATCH 400 error and return message "I don't understand, please ask something else!"
             var y = response;
             console.log("output: " + y);
             output.push(y); // store output in output array
             var y2 = '<div class="panel callout"><h5>Juarez @ date/time</h5><p>' + y + '</p></div>';
             $(".messages").append(y2); // add new response
             $(".mRec").html(output.length);
            var end = new Date().getTime();
            var time = end - start;
            totalTime += time;
            avgTime = (totalTime / (input.length + output.length));
            $(".mTime").html(avgTime.toFixed(1));
        });
       $("#message").val(''); // reset input form
    }
</script>